html, body {
    height: 100%;
    margin: 0;
    font-family: "Times New Roman";
    font-size: 17.5px
    
}
h4 {font-family: "Times New Roman";}
p {font-family: "Times New Roman!"} 


/*---Menu---*/
#header {
    position: relative;
    top: 20px;
    margin-left: 0px;
    margin-right:0px;
    height: 110px;
    background: rgb(255, 255, 255);
}

#navbar-expand {
    z-index: 1200;
}

.bg-dark {
    background-color: #bb3446!important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px
    
}

.navbar-dark .navbar-nav .nav-item a {
    color:"";
}
.navbar-dark .navbar-nav .nav-item a:hover {
    color:"";
}
.navbar-dark .navbar-nav .nav-item.active a:hover {color:"";}



/*--- text formatting ---*/

span {
    cursor: pointer;
    color: #b33a44;
}

span:hover {
    text-decoration: underline;
}

.blockquote {
    font-size: 14pt;
}


/*sets grab-cursor for polyBack*/
.map-noClick {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}


/*--- all containers ---*/
/*intro-page*/
#introContainer {
    padding: 45px;
    height: 390px;
    background-image: url("img/Carta_Marina-index.jpeg");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;   
}

#logoContainer {
    position: absolute;
    top: 5px;
    max-width: 500px;
}

#buttonContainer {
    position: absolute;
    top: 270px; 
}

/*map-page*/
#mapContainer {
    position: fixed;
    top: 90px;
    left: 30px;
    bottom: 20px;
    right: 30px;
    overflow: auto;    
}

#map { min-height: 50vh;
}

#textRow {
    overflow: hidden;
    padding: 0px; 
}

#textContainer {
    overflow: auto;
    margin-right: 5px;
    top: 10px;
}

#mapRow {
    overflow: hidden;
    padding: 0px; 
}

#map2Container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-right: 0px;
    left: 0%;
    width: 100%;     
    overflow: hidden;
    z-index: 1198;
    min-height: 50vh;
    max-height: 100vh;
    padding: 0px;     
}

#map2 { 
    height: 100%;
    width: 100%;
    }

/*close-Button for osm*/
#toggleContainer {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 15px;
    z-index: 1200;
    overflow: hidden;
    padding: 0px;
}

#toggleButton {
    position: relative;
    left: 80%;
}

/*text-pages*/
#contentContainer {
    position: fixed;
    top: 90px;
    left: 30px;
    bottom: 20px;
    right: 30px;			
    overflow: auto;
    ;		
}


/*---Search---*/

#myForm {
    display: block;
    margin-left: auto;
    margin-right: 0px;
}

.row input[type=text] {
    float: right;
    padding: 3px;
    border: none;  
}

.row input[type=text]:focus {
outline-color: #343a40;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;  
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #383A5B;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 4px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #383A5B; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #696d75 !important; 
  color: #ffffff; 
}